.blue {
    background-color: blue;
    padding: 20px;
}

body {
    display: flex;
    align-items: flex-start;
}

.yo {
    background-color: yellow;
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
}

.red {
    padding-right: 80px;
}

.red1 {
    padding-right: 260px;
}

.green {
    padding-bottom: 70px;
}

.green1 {
    padding-bottom: 250px;
}